#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width:100%;
}


.imagelist{
  height:100px;
}


header{

  display: flex;
  gap:48px;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;


}


.pointer{cursor:crosshair}